<section class="professional">
    <%=render 'professionals/menu_profissional' %>
  <div class="professional-menu-superior">
    <%=render 'professionals/menu_superior' %>

    <div class="professional-main-home">
      <%=render 'professionals/card_client' %>
    </div>
  </div>


  <%#= render 'pages/modal_button' %>
  <%#= render 'pages/modal_content' %>

</section>


