.aside-menu{
    background-color: #293846;
    height: 100vh;
    display: flex;
    flex-direction: row;
    width: 20vh;
}
.aside-menu-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.aside-menu-logo img{
    width: 15vh;
    height: 15vh;
}
.icons{
    width: 30px;
    background-color: #7c8083;
    padding: 4px;
    border-radius: 50%;
    margin-right: 5px;
}
.icons img{
    width:15px;
}

.aside-menu-itens{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-bottom: 10vh;
}
.aside-menu-itens li{
    background-color: #676a6c;
    width: 100%;
    font-size: 1.5vh;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    color: white;
}
.aside-menu-itens li:hover{
    background-color: #293846;
}

.aside-menu-footer{
    background-color: #309873;
    width: 100%;
}

.aside-menu-footer ul{
    background-color: #309873;
    width: 100%;
}
.aside-menu-footer ul li{
    display: flex;
    align-items: center;
    background-color: #309873;
    justify-content: center;
    font-size: 1.5vh;
    font-weight: bold;
    width: 100%;
    height: 5vh;
    color: white;
}

.aside-menu-footer .consultar:hover {
    background-color: #107B62;
}

.aside-menu-footer .cadastrar{
    background-color: #107B62;
}

.aside-menu-footer .cadastrar:hover {
    background-color: #0b5746;
}

/*Menu Superior*/
.menu-higher{
    min-height: 7.5vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: white;
}

.menu-higher-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.menu-higher-content .btn {
    background-color: #18A689;
    border: none;
    width: 4vh;
    height: 3vh;
    margin-left: 2vh;
}
.menu-higher-content ul{
    display: flex;
    align-items: center;
}
.menu-higher-content ul li{
    border: 1px solid  #dadada;
    background-color: rgba(218, 218, 218, 0.13);
    padding: 5px;
}

.silence{
    margin-right: 1vh;
}
.experimental, .buy{
    color: #309873;
}

.days{
    color: #545454;
}

/*user button*/

.dropdown {
    align-items: center;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-right: 4vh; /* Ajuste o valor conforme necessário para afastar da borda direita */
    gap: 1vh;
}
.dropdown .img{
    border-radius: 50%;
    height: 30px;
}

.dropbtn {
    background-color: white;
    border: none;
    height: 6vh;
    font-size: 1.5vh;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 20vh; /* Use margin-top em vez de margin-left para afastar do topo */
    right: 0.2vh;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    width: 200px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/*menu abaixo*/

.page-inf{
    min-height: 10vh;
    border-bottom: 1px solid #dadada;
    border-top: 1px solid #dadada;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
}
.page-inf p{
    color: rgba(104, 115, 145, 0.7);
}

.page-inf-title{
    margin-left: 2vh;
}
.page-inf-title h1{
    font-weight: normal;
    font-size: 2.5vh;

}
.page-inf-status{
    margin-right: 2vh;
}

.page-inf .status{
    display: block;
    text-align: right;
    font-size: 2.5vh;
}

